<div class="flex">
  <div
    class="flex-1 flex align-items-center justify-content-center font-bold text-white m-2 py-3 border-round"
  >
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search road" />
    </span>
  </div>
  <div
    class="flex-1 flex align-items-center justify-content-center font-bold text-white m-2 py-3 border-round"
  >
    <p-calendar
      selectionMode="range"
      [readonlyInput]="true"
      inputId="range"
      [showTime]="true"
    ></p-calendar>
  </div>
  <div
    class="flex-1 flex align-items-center justify-content-center font-bold text-white m-2 py-3 border-round"
  >
    <p-multiSelect
      [options]="groupedCities"
      [group]="true"
      defaultLabel="Group / Vehicle"
      scrollHeight="250px"
      display="chip"
    >
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <img
            src="assets/showcase/images/demo/flag/flag_placeholder.png"
            [class]="'mr-2 flag flag-' + group.value"
            style="width: 20px"
          />
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>
  <div
    class="flex-1 flex align-items-center justify-content-center font-bold text-white m-2 py-3 border-round"
  >
    <p-multiSelect
      [options]="groupedCities"
      [group]="true"
      defaultLabel="Driver"
      scrollHeight="250px"
      display="chip"
    >
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <img
            src="assets/showcase/images/demo/flag/flag_placeholder.png"
            [class]="'mr-2 flag flag-' + group.value"
            style="width: 20px"
          />
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>

  <div
    class="flex-1 flex align-items-center justify-content-center font-bold text-white m-2 py-3 border-round"
  >
    <p-multiSelect
      [options]="groupedCities"
      [group]="true"
      defaultLabel="Risk Factor"
      scrollHeight="250px"
      display="chip"
    >
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <img
            src="assets/showcase/images/demo/flag/flag_placeholder.png"
            [class]="'mr-2 flag flag-' + group.value"
            style="width: 20px"
          />
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>
  <div
    class="flex-1 flex align-items-center justify-content-center font-bold text-white m-2 py-3 border-round"
  >
    <p-multiSelect
      [options]="groupedCities"
      [group]="true"
      defaultLabel="Status"
      scrollHeight="250px"
      display="chip"
    >
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <img
            src="assets/showcase/images/demo/flag/flag_placeholder.png"
            [class]="'mr-2 flag flag-' + group.value"
            style="width: 20px"
          />
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>
</div>
<div class="flex">
  <div
    class="flex-1 flex align-items-center justify-content-center font-bold text-white border-round"
  >
    <app-table></app-table>
  </div>
</div>
